@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Clash Display;
    font-weight: 400;
    src: url(../../musicPro/public/fonts/FontshareKit-2407000978/ClashDisplay/Fonts/OTF/ClashDisplay-Regular.otf)
      format("otf");
  }
}
